academictorrents==2.3.3
albumentations==2.0.8
clip==0.2.0
einops==0.8.2
imageio==2.37.0
kornia==0.8.1
natsort==8.4.0
nibabel==5.4.2
numpy==2.4.3
omegaconf==2.3.0
opencv_python==4.11.0.86
pandas==3.0.1
Pillow==12.1.1
pytorch_lightning==2.5.0.post0
PyYAML==6.0.2
PyYAML==6.0.3
scipy==1.17.1
skimage==0.0
torch==2.6.0+cu126
torchio==0.22.1
torchmetrics==1.6.3
torchvision==0.21.0+cu126
tqdm==4.67.1
transformers==4.49.0
